#logo-text {
	-fx-font-size: 48px;
	-fx-font-family: "Arial Black";
	-fx-fill: #818181;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.button {
	-fx-text-fill: white;
	-fx-font-family: "Arial Narrow";
	-fx-background-color: linear-gradient(#61a2b1, #2A5058);
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#menuHome:hover {
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
}
#menuBooks:hover {
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
}
#menuUsers:hover {
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
}
#menuDelayed:hover {
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
}
#menuRegister:hover{
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
}


.table-row-cell {
    -fx-cell-size: 34px;
}

#bookTitleBasket {
	-fx-font-size: 18px;
}

#bookIsbnBasket {
	-fx-text-fill: transparent;
	-fx-font-size: 1px;
}

#loanActionBtn {
	    -fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

#loanActionBtn:hover {
	    -fx-background-color: 
        #fafdfe,
        linear-gradient(#e8f5fc, #3c7fb1),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: black;
    -fx-font-size: 16px;
}
#loanActionBtn:pressed {
	    -fx-font-size: 15px;
}

#switchUserText:hover {
		-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
}
#switchUserText:pressed {
		-fx-font-size: 14px;
}

#amountTextNegative {
	-fx-fill: #ff4848;

	
}
#amountText {
	-fx-fill: #575757;

}

